* {
    margin: 0;
    font-family: 'fira sans';
}

    /* Styling whole elements */

h1 {
    line-height: 3;
    text-align: center;
    border: 3px solid black;
}
h2 {
    display: inline-block;
    line-height: 2;
    font-family: "noto sans";
    text-decoration: underline;
}
h4 {
    line-height: 2.5;
    text-decoration: underline 2px;
    font-weight: 700;
    font-family: "noto sans";
}
li {
    line-height: 1.5;
    text-align: justify;
    margin: 10px 0;
}
p {
    text-align: justify;
    line-height: 1.5;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

    /* Styling the <nav> element */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: hsl(0 0% 65%);
}

nav h3 {
    display: inline-block;
    margin: 0 20px;
    padding: 2px;
    font-family: "noto sans";
    font-size: 22px;
    text-decoration: underline 2px black;
}
nav h3:hover {
    text-decoration-color: hsl(232 95.9% 52.7%);
}
nav h3:active {
    color: hsl(207 100% 50%);
    text-decoration-color: hsl(207 100% 50%);
}

    /* Styling the section "CSS" */

    /* Styling multiple sections at once */

.flex-box,
.grid-rows {
    max-width: 1000px;
    margin: 40px auto;
}

    /* Styling the section "Concepts" */

    /* Styling "Wireframes" */

.wireframes {
    max-width: 700px;
    margin: 40px 0;
}
.wireframes .context {
    font-size: 13px;
    font-style: italic;
}
