* {
    margin: 0;
}

    /* Styling the <nav> element */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: hsl(0 0% 65%);
}

nav h3 {
    display: inline-block;
    margin: 0 20px;
    padding: 2px;
    font-family: "noto sans";
    font-size: 22px;
    cursor: pointer;
    text-decoration: underline 2px black;
}

nav h3:hover {
    text-decoration-color: hsl(232 95.9% 52.7%);
}
nav h3:active {
    color: hsl(207 100% 50%);
    text-decoration-color: hsl(207 100% 50%);
}

    /* Styling the <section> and <div> elements */

section {
    max-width: 1000px;
    margin: 0 auto;
}

    /* Styling the section "Concepts */

    /* Styling "Grid Rows" */

.grid-rows {
    font-family: "fira sans";
    max-width: 1000px;
    margin: 40px auto;
    
}
.grid-rows h2 {
    line-height: 2;
}
.grid-rows h4 {
    text-align: center;
    line-height: 2.5;
    text-decoration: underline 2px;
}
.grid-rows p {
    text-align: justify;
    line-height: 1.5;
}

    /* Styling "Wireframes" */

.wireframes {
    font-family: "noto sans";
    max-width:700px;
    margin: 40px 0;
}
.wireframes h2 {
    display: inline-block;
    line-height: 2;
    text-decoration: underline;
}
.wireframes .context {
    font-size: 13px;
    font-style: italic;
}
.wireframes h4 {
    font-weight: 800;
    line-height: 2.5;
    text-decoration: underline 2px;
}
.wireframes p,
.wireframes li {
    text-align: justify;
    font-family: "fira sans";
    line-height: 1.5;
}